#p1 {background-color: rgba(0, 0, 255);}
#p2 {background-color: rgba(13, 13, 144);}
#p3 {background-color: rgba(94, 94, 192);}
#p4 {background-color: rgba(6, 96, 186);}
#p5 {background-color: rgba(148, 200, 253);}
#p6 {background-color: rgba(54, 80, 105);}