#p1 {background-color: rgba(0, 255, 0);}
#p2 {background-color: rgba(7, 168, 7);}
#p3 {background-color: rgba(114, 218, 114);}
#p4 {background-color: rgba(12, 85, 29);}
#p5 {background-color: rgba(167, 232, 182);}
#p6 {background-color: rgba(32, 225, 179);}