#p1 {background-color: rgba(153, 0, 153);}
#p2 {background-color: rgba(203, 96, 203);}
#p3 {background-color: rgba(119, 15, 119);}
#p4 {background-color: rgba(127, 6, 141);}
#p5 {background-color: rgba(228, 109, 242);}
#p6 {background-color: rgba(107, 61, 112);}