#p1 {background-color: rgba(255, 0, 0);}
#p2 {background-color: rgba(146, 22, 22);}
#p3 {background-color: rgba(202, 53, 83);}
#p4 {background-color: rgba(243, 0, 57);}
#p5 {background-color: rgba(81, 8, 8);}
#p6 {background-color: rgba(235, 179, 179);}