#p1 {background-color: rgba(255, 255, 0);}
#p2 {background-color: rgba(127, 127, 14);}
#p3 {background-color: rgba(199, 199, 121);}
#p4 {background-color: rgba(198, 225, 25);}
#p5 {background-color: rgba(250, 255, 209);}
#p6 {background-color: rgba(70, 74, 45);}